@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;400&family=Roboto+Flex:opsz,wght@8..144,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;400&family=Roboto+Flex:opsz,wght@8..144,500&display=swap');

body{

    background-color: rgb(217, 217, 217, .2)

}

.landing_page{


    height:100vh;
    border:1px solid lawngreen;
    margin:0px;

}

#Name{

    text-align: center;
    font-family:"Averi Serif Libre";
    margin-top:100px;
    padding-bottom:10px;

}

.underline{

    width:200px;
    height:0px;
    margin:0px;
    padding:0px;
    border-bottom:2px solid black;
    margin:auto;

}

#Name_under_line{

    width:200px;
    height:2px;
    margin:auto;

}

.btn_container{

    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:1rem 1.25rem;
    padding:15px;
    border-radius:50%;

}

.twitter_btn, .github_btn, .linkedin_btn{

    border-radius:100%;
    width:60px;
    height:60px;
    background-color: black;
    margin:0px 20px;

}

#twitter_btn, #github_btn, #linkedin_btn{

    width:25px;
    height:25px;
    color:white;

}

.section{

    text-align: center;
    font-size: 20px;
    font-family: "Roboto Flex";
    font-weight:medium;

}

.redirect_btn{

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin:50px 0px 25px 0px;

}

.redirect_btn button{

    width:200px;
    height:80px;
    margin:20px;
    border:2px solid black;
    border-radius:7px;

}

#visit_btn , #contact_btn{

    margin:0px;
    padding:0px;

}

.experiment{

    margin:0px;
    padding:0px;
    height:50px;
    width:50px;
    border-right:4px solid black;
    border-bottom:4px solid black;
    border-radius:10%;
    transform: rotate(45deg);
    margin:auto;  
    animation:"down_arrow";
    animation-duration: 1s;

}

.experiment:hover{

    cursor: pointer;
    box-shadow: 20px 20px 10px black;
    transition-timing-function:ease-in-out ;
    transition-duration: .5s;
    /* animation-name:down_arrow;
    animation-duration: 1s; */

}


/* The following code belongs to the Intro_Section_Top.js  */

.Intro_container{

    height:100vh;
    border:2px solid blue;
    margin:0px 30px;

}

.profile-intro{

    display:flex;
    flex-direction: row;
    align-items:flex-end;
    justify-content: flex-start;
    margin:30px 30px 30px 120px;
    gap:80px;
    border:1px solid red;

}

#profile-intro{

    font-size: 15px;
    font-family: "Roboto Flex";
    font-weight:medium;
    border:1px solid palevioletred;

}

.profile-desc{

    border:2px solid black;
    display:flex;
    flex-direction:column;
    align-items:flex-start;


}

.profile_social_btn{

    display:flex;
    flex-direction:row;
    border:2px solid black;
    gap:90px;

}

.redirect_btn7{

    width:150px;
    height:60px;
    /* margin:10px 5px 0px 5px; */
    /* gap:90px; */
    border-radius:7px;
    font-size: 15px;
    font-family: "Roboto Flex";
    font-weight:medium;
    

}

.profile{


    width:280px;
    height:280px;
    border:2px solid black;
    border-radius:5%;

}

/* Intro Section Timeline */

.timeline{

    display:flex;
    flex-direction:row;

}

#upper-text{


    justify-content: space-around;

}

#lower-text{


    justify-content: space-around;

}

.test_timeline{

    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    border:2px solid red;
    margin:150px 25px;

}

.test-1, .test-2, .test-3{

    display:flex;
    flex-direction:column;
    margin:0px;
    padding:0px;
    align-items:center;
    z-index:1;

}

.test-1 p, .test-2 p, .test-3 p{

    margin:10px 10px;

}

.time{

    border:1px solid black;
    max-width:400px;
    width: 100%;
    /* width: 100%; */
    height:1px;

}

.comp_mark{

    border:2px solid #13AD47;
    background-color:#13AD47;
    width:15px;
    height:15px;
    border-radius:100%;
    z-index:1;
}
    /*  */

/*     
        height: 90px;
        position: relative;
        width: 90px;
      }
      .circles > div {
        animation: growAndFade 3s infinite ease-out;
        background-color: #13AD47;
        border-radius: 50%;
        height: 100%;
        opacity: 0;
        position: absolute;
        width: 100%;
      }
      .circles .circle1 {
        animation-delay: 1s;
      }
      .circles .circle2 {
        animation-delay: 2s;
      }
      .circles .circle3 {
        animation-delay: 3s;
      }
      @keyframes growAndFade {
        0% {
          opacity: 0.25;
          transform: scale(0);
       }
        100% {
          opacity: 0;
          transform: scale(1);
       }
      } */
      /* body {
        align-items: center;
        display: flex;
        height: 100vh;
        justify-content: center;
        margin: 0;
      } */
      



/* .comp_mark:hover{ */

    /* box-shadow: 0px 0px 0px 10px black; */
    /* transition-timing-function:ease-in-out ; */
    /* transition-duration: .2s; */
    /* animation-name:down_arrow; */
    /* animation-duration: .5s; */

/* } */

@keyframes down_arrow {

    0%{

        /* box-shadow: 0px 0px 0px 0px #13AD47; */
        z-index:2;
        width:17px;
        height:17px;

    }

    25%{

        /* box-shadow: 0px 0px 5px 10px #13AD47; */
        z-index:2;
        width:19px;
        height:19px;
        background-color: #13AD47;
        

    }

    50%{

        z-index:2;
        width:21px;
        height:21px;
        background-color: #13AD47;

    }

    75%{

        /* box-shadow: 0px 0px 10px 15px #13AD47; */
        z-index:2;
        width:21px;
        height:21px;
        background-color: #13AD47;

    }

    100%{

        /* box-shadow: 0px 0px 15px 20px #13AD47; */
        z-index:2;
        width:23px;
        height:23px;
        background-color: #13AD47;

    }
    
}




/* Project Page */

.project_tab{

    height:100vh;
    border:1px solid red;
    margin:0px 30px;
    padding:30px 0px;

}

.Project_heading{

    text-align:center;
    /* margin:100vh; */

}

/* Contact Page */

.contact_container{

    border:2px solid purple;
    margin:0px 30px;
    padding:30px 0px;
    height:100vh;

}

.Contact_sec{

    border:2px solid black;

}

.query_form{

    border:2px solid black;
    margin:80px;

}

.Contact_heading{

    text-align:center;

}

.contact_sub_heading{

    text-align:center;
    display:flex;
    flex-direction:column;
    align-items: center;
    margin-top:40px;
    /* margin-inline:300px; */

}

#contact_sub_heading{

    width:550px;
    font-size: 20px;
    font-family: "Roboto Flex";
    font-weight:medium;


}

#contact_sub_heading a{

    text-decoration:none;

}

.Contact_form_heading{

    text-align:center;

}

.query_form{

    /* border:2px solid grey; */
    /* margin:20px; */
    padding:10px;
    border:2px solid black;
    margin:70px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    /* border-radius:10px; */

}

.form{

    border:2px solid red;
    display:inline-flex;
    flex-direction: column;
    align-items:center;

}

.Contact-form{

    display:flex;
    flex-direction:column;
    align-items:flex-start;
    margin:10px 0px 0px 0px;
    /* border:2px solid red; */

}

.mb-3{

    display:flex;
    flex-direction:column;
    align-items:left;
    /* margin-left:100px; */
    padding-bottom:5px;

}

.input-group{

    width:500px;
    /* margin-left:100px; */

}


#exampleInputEmail1{

    width: 500px;

}

#exampleInputPassword1{

    width:500px;

}

#input-group-text{

    display:flex;
    flex-direction:row;

}


#form_sub_btn{

    height:40px;
    width:120px;
    border-radius:5px;
    margin:20px 0px;
    border:2px solid black;
    /* justify-content: center; */
    font-size: 15px;
    font-family: "Roboto Flex";
    font-weight:medium;
    

}

.form_sub_btn{

    display:flex;
    flex-direction:row;
    /* justify-content: flex-start; */
    /* margin-left: 100px; */
    /* margin-top:20px;
    margin-bottom:50px; */

}

.footer_btn_container{

    display:flex;
    flex-direction:row;
    justify-content: center;
    margin:20px 0px 10px 0px;
    gap:20px;
    

}

#footer_btns{

    width:40px;
    height:40px;
    border-radius:100%;
    background-color:black;
    border-left:2px solid black;
    border-right:2px solid black;
    font-size: 13px;
    font-family: "Roboto Flex";
    font-weight:medium;

}

#footer_btns:hover{

    background-color:rgb(70, 70, 70);

}

#foot_linkedin, #foot_github, #foot_mail{

    width:20px;
    height:20px;
    color:white;

}

#foot_linkedin:hover, #foot_github:hover, #foot_mail:hover{

    color:rgb(37, 172, 255);

}

#footer_btns a{

    text-decoration: none;
    color:black;

}

.footer_div{

    border:2px solid black;

}

#footer_cr{

    margin:0px 0px 10px 0px;
    text-align:center;
    font-size: 15px;
    font-family: "Roboto Flex";
    font-weight:medium;

}